<div class="topnav">
    <a routerLink="/home">Home</a>
    <a routerLink="/html">Html</a>
    <a routerLink="/css">Css</a>
    <a routerLink="/js">JavaScript</a>
    <a routerLink="/ts">TypeScript</a>
    <a routerLink="/angular">Angular</a>
    <a routerLink="/react">React</a>    
    <a routerLink="/dot-net">.Net</a>
    <a routerLink="/sql">SQL</a>
    <a routerLink="/php">PHP</a>
    <a routerLink="/xml">XML</a>
    <a routerLink="/cloud-computing">Cloud Computing</a>
    <a routerLink="/ai-ml">AI/ML</a>
    <a routerLink="/aptitude">Aptitude</a>
    <a routerLink="/reasoning">Reasoning</a>    
</div>